* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

.barra-superior {
	position: fixed;
	width: 100%;
	padding: 1px 0;
	overflow: hidden;
	display: flex;
	background: #001e2d;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.7);
	z-index: 10;
}

.logo {
	position: relative;
	width: 80px;
}

.logo img {
	width: 100%;
	border-radius: 50%;
	box-shadow:  8px 8px 16px #000c12,
	-8px -8px 16px #003048;
}

.contenido-barra {
	position: absolute;
	right: 30px;
	margin: 0 20px;
}

.contenido-barra button {
	padding: 8px 10px;
	outline: none;
	box-shadow:  8px 8px 16px #000c12, -8px -8px 16px #003048;
	background: #00B2B8;
	border: none;
	cursor: pointer;
	color: #F7F7F7;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	border-radius: 6px;
	transition: 0.3s;
}

.contenido-barra button:hover {
	background: #00C2C9;
	box-shadow: none;
}

.seccion {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
}

.seccion .contenido {
	position: absolute;
	width: 100%;
	min-height: calc(100% - 100px);
	padding: 0 50px;
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control {
	position: absolute;
	right: 0;
}

.slider-corousel {
	position: relative;
	margin: 50px;
	width: 50%;
	overflow: hidden;
	border: 2px solid #000;
}

.contenedor-slider {
	display: flex;
	margin-left: -100%;
	width: 200%;
}

.item-carousel {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
