*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'poppins', sans-serif;
}

/* Estilo de index Admin */

.barra{
	background-color: #132330;
}

input:focus, input.barra_busqueda:focus{
	outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.container_busqueda{
     position: absolute;
    top: 22px;
    right: 65px;
    overflow: hidden;
    width: 150px;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 53%;
}

.container_busqueda input#busqueda{
  width: 150px;
  height: 40px;
  background: #232833;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 30px;
}

.container_busqueda input#busqueda::-webkit-input-placeholder {
   color: #ccc;
}
 
.container_busqueda input#busqueda:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}
 
.container_busqueda input#busqueda::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}
 
.container_busqueda input#busqueda:-ms-input-placeholder {  
   color: #ccc;  
}

.container_busqueda button.icon{
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomright: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
 
  border: none;
  background: #ccc;
  height: 40px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container_busqueda:hover button.icon, .container_busqueda:active button.icon, .container_busqueda:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }
 
  .container_busqueda:hover button.icon:hover{
    background: #f49f1c;
  }

/* Fin estilo de index Admin */



/* Estilo de menu Admin */

.navigation{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #132330;
	transition: 0.2s;
	display: flex;
	visibility: hidden;
	opacity: 0;
}

.navigation.active{
	visibility: visible;
	opacity: 1;
}

.navigation .navArea{
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation .navArea ul li{
	list-style: none;
}

.navigation .navArea ul li::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	z-index: -1;
	opacity: 0;
	transition: 0.5s;
}

.navigation .navArea ul li:nth-child(1)::before{
	background: #905c49;
}

.navigation .navArea ul li:nth-child(2)::before{
	background: #ffde0f;
}

.navigation .navArea ul li:nth-child(3)::before{
	background: #d28759;
}

.navigation .navArea ul li:nth-child(4)::before{
	background: #72a785;
}

.navigation .navArea ul li:nth-child(5)::before{
	background: #01080e;
}

.navigation .navArea ul li:nth-child(6)::before{
	background: #137ac7;
}


.navigation .navArea ul li:hover::before{
	opacity: 1;
	text-decoration: none;
}

.navigation .navArea ul li a{
	font-size: 3em;
	font-weight: 600;
	color: #ccc;
}

.navigation .navArea ul li:hover a{
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

.imgArea{
	position: relative;
	width: 50%;
	height: 100vh;
	background: #f00;
}

.imgArea img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.menuToggle{
	position: absolute;
	top: 18px;
	right: 5px;
	width: 50px;
	height: 50px;
	background: url(../img/menu.png);
	z-index: 1000;
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.menuToggle.active{
	background: #132330 url(../img/cerrar_menu.png);
	z-index: 1000;
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 768px){

	.navigation .navArea{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.navigation .navArea ul{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.navigation .navArea ul li{
	background: #ccc;
	margin: 5px 10px;
	padding: 5px 10px;
}

.navigation .navArea ul li:hover{
	background: #132330;
	text-decoration: none;
}

.navigation .navArea ul li a{
	color: #000;
	font-size: 2em;
	letter-spacing: 2px;
}

.imgArea{
	position: absolute;
	width: 100%;
	height: 100vh;
	background: #f00;
	opacity: 0.7;
}

.navigation .navArea ul li:hover::before{
	opacity: 0;
	text-decoration: none;
}

}

/* Fin estilo de menu Admin */